<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.linkedin.com/in/binaydas" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/binay-das" target="_blank"><i class="fa-brands fa-github"></i></a>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
        <div>&copy; Wanderlust Limited</div>
        <div class="mt-3">Made with &#10084; by <a href="https://github.com/binay-das" target="_blank" class="text-decoration-none">Binay</a></div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms and Conditions</a>
        </div>
    </div>
</footer>